{% extends "./layout.html" %} {% block head %} {% parent %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"
  integrity="sha256-+u54FaX9J+k40eAcg5K2YzICSQjrEYBI9gju5nE3HfY="
  crossorigin="anonymous"
></script>
{% endblock %} {% block body %}
<!--   <div id="particles"></div> -->

<header class="header siteTopHeader">
  <nav class="navbar navbar-expand-lg navbar-dark green">
    <a class="navbar-brand" href="/"><h1>Climate Change</h1></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="siteTopNav collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="smooth-scroll navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#intro">
            <i class="fas fa-info fa-xs mr-2"></i> What is this ?
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <nav
    id="info-tab"
    class="navbar navbar-expand-lg navbar-dark primary-color justify-content-between"
  >
    <strong class="text-uppercase">
      yay
    </strong>
    <a class="close ml-auto" title="Close" aria-label="Close" aria-hidden="true"
      >&times;</a
    >
  </nav> -->

  <div class="view" id="intro-header">
    <img
      src="/img/climate-energy.jpg"
      id="header-img"
      class="img-fluid"
      alt="Header Background"
    />
    <div
      class="full-bg-img mask flex-center rgba-black-strong waves-effect waves-light"
    >
      <!-- waves-effect waves-light -->
      <div class="mask rgba-black-light flex-center">
        <div id="intro-welcome" class="container text-center white-text">
          <div class="white-text text-center wow fadeInUp">
            <h2>
              Cause and Effects of&nbsp;<span class="text-success"
                >Climate Change</span
              >
            </h2>
            <h5>
              What can we do about it? And will will happen if we don't do
              anything?
            </h5>
            <br /><br />
            <blockquote class="blockquote bq-success">
              <!-- <p class="bq-title">Our Motto</p> -->
              <p class="mb-0">
                The world is changing before our eyes we are peering towards the
                edge of the abyss it is not too late to shift course but every
                day that passes means the world eats up a little more and the
                cost of our inaction, not every day we fail to act is a day that
                we step a little closer towards the fate that none of us want
                the fact that will resonate through generations in the damage
                done to humankind and life on earth our fate is in our ends the
                world is counting on all of us to rise to the challenge before
                it is too late I count only war.
              </p>
              <footer class="blockquote-footer mb-3">
                <cite title="Lemuel De Los Santos"
                  >Secretary-General António Guterres</cite
                >
                <br />
                Ninth Secretary-General of the United Nations.
                <br />
                Previously the United Nations High Commissioner for Refugees
                between 2005 and 2015.&nbsp;<a
                  href="https://youtu.be/VNe-jBVij-g"
                  >Site Sourced</a
                >
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-panel"></div>
</header>

<div id="globe">
  <img src="/img/globe.svg" alt="Goal 13: Climate Action" draggable="false" />
</div>

<div class="globe-space"></div>

<div id="main-container" class="container">
  <section id="intro" class="card">
    <h3>
      Intro
    </h3>
    <p>
      To the factory owners who still use fossil fuels, the world we live in has
      gone to despair. We are experiencing the effect of greenhouse gasses and
      industrial activities—global warming. Climate change is an enduring issue
      and still is a current problem because of human activities, and we, as
      humanity, need to end it. It’s always been an issue since the Industrial
      Revolution(1760), that’s almost 3 centuries ago (260 years)! Burning
      fossil fuels, in combination with the destruction of carbon sinks due to
      deforestation and other activities such as pollution are a problem, but
      can be solved using methods such as renewable energy. However, some might
      say that this isn’t the fault of humanity, and it’s natural—the earth’s
      climate is always changing like this. <em>So, what will happen?</em>
    </p>
  </section>

  <section id="fossil-fuels" class="card">
    <h3>
      Burning Fossil Fuels
    </h3>
    <p>
      Fossil fuel coal had been used as a fuel since 1,000 B.C., it wasn't until
      the arrival of the Industrial Revolution from the mid-1700s through the
      1800s that coal began to replace biomass as the primary source of energy.
      In the article “Overview: Weather, Global Warming and Climate Change.” it
      states, “due to human activities, primarily fossil fuel burning, which
      increases heat-trapping greenhouse gas levels in Earth’s atmosphere”. This
      explains the cause of using fossil fuels and their impact on our
      atmosphere. NASA themselves say this is the effect of factory owners who
      still use fossil fuels. Would you want the end of our world to end just
      because of some greedy factory owners who care about profit more than the
      environment? Some people might say this is a natural thing to happen, and
      humanity has nothing to do with climate change as stated, “Natural
      processes can also contribute to climate change, including internal
      variability (…) and external forces (...)” because it demonstrates the
      possibilities of other factors causing the climate to change, meaning none
      of what we are doing is affecting it. However, this assumption is
      incorrect because as also stated, “Changes observed in Earth’s climate
      since the early 20th century are primarily driven by human activities,
      particularly fossil fuel burning, which increases heat-trapping greenhouse
      gas levels in Earth’s atmosphere, raising Earth’s average surface
      temperature. These human-produced temperature increases are commonly
      referred to as global warming”. This refutes false claims because
      according to the text “Changes observed in Earth’s climate since the early
      20th century are primarily driven by human activities, particularly fossil
      fuel burning” and promote the idea of experiencing the effect of
      greenhouse gasses and industrial activities—global warming.
    </p>

    <img
      class="card-img-bottom"
      src="/img/co2-stats.jpg"
      alt="Statistics of Carbon Dioxide levels rising over the years."
    />
  </section>

  <section id="deforestation" class="card">
    <h3>
      The Effects of Deforestation
    </h3>
    <p></p>

    <img
      class="card-img-bottom"
      src="/img/koala.jpg"
      alt="Hurt Koala due to forest file burning their homes"
    />
  </section>

  <section id="pollution" class="card">
    <h3>
      Pollution.
    </h3>
    <p>So, What Will Happen?</p>
  </section>

  <section id="deforestation" class="card">
    <h2>
      2,795
    </h2>
    <h3>
      Gigatons
    </h3>
    <p>So, What Will Happen?</p>
  </section>

  <section id="renewable-energy" class="card">
    <h3>
      How can Renewable Energy Help?
    </h3>
    <p>
      In the United States, about 29% of global warming emissions come from our
      electricity sector. According to “Benefits of Renewable Energy Use.”,
      “Increasing the supply of renewable energy would allow us to replace
      carbon-intensive energy sources and significantly reduce US global warming
      emissions”. This demonstrates a solution to global warming by allowing us
      and factories that use “carbon-intensive energy sources” to replace
      renewable energy sources. The UCS membership includes many private
      citizens in addition to professional scientists. This can cause a change
      in our environment and become a solution because a UCS analysis says “25
      percent by 2025 national renewable electricity standards would lower power
      plant CO2 emissions 277 million metric tons annually by 2025—the
      equivalent of the annual output from 70 typical (600 MW) new coal plants”.
      This shows this indeed is possible and doable as long as people cooperate
      until climate change is no longer an enduring issue.
    </p>

    <img
      class="card-img-bottom"
      src="/img/generation.jpg"
      alt="Statistics showing effects of switching to renewable energy, and how it can help reduce the generation CO2 in the atmosphere."
    />
  </section>

  <section id="conclusion" class="card">
    <h3>
      Conclusion
    </h3>
    <p><em>So, What Will Happen?</em></p>

    <button type="button" id="snap" class="btn btn-danger">
      What Will Happen?
    </button>
  </section>
</div>

<!-- SNAP! -->
<div id="globe-space" class="globe-space"></div>

<!-- Dogecoin -->
<img
  src="/img/dogecoin.png"
  id="dogecoin"
  data-toggle="popover"
  data-trigger="focus"
  title="Dogecoin"
  data-placement="left"
  data-content="And here's some amazing content. It's very engaging. Right?"
/>

<!-- MS Skills -->

<table class="table white-text black table-bordered table-striped">
  <tr>
    <th colspan="4" class="text-center h4 green">
      <strong>Mastery Skill:</strong>&nbsp;Argumentative Thinking
    </th>
  </tr>
  <tr>
    <th>Novice</th>
    <th>Apprentice</th>
    <th>Practitioner</th>
    <th>Professional</th>
  </tr>
  <tr>
    <td>
      1. Has a clear thesis<br />
      2. Has clear claims in the thesis and bodies<br />
      3a. Identifies evidence that matches with a thesis but doesn’t summarize
      it or connect it to the thesis.
    </td>
    <td>
      1. Has a clear thesis<br />
      2. Has clear claims in the thesis and bodies<br />
      3b. Identifies evidence that matches with the thesis and summarizes it but
      doesn’t explicitly connect it to the thesis.<br />
      4b. while identifying an alternative side as a counterclaim.<br />
      5b. I can add to my analysis by synthesizing outside resources by
      comparing/contrasting the ideas.
    </td>
    <td>
      1. Has a clear thesis.<br />
      2. Has clear claims in the thesis and bodies<br />
      3c. I can identify and summarize evidence while making a direct
      connection&nbsp;<strong>by making inferences***</strong> to the paper’s
      thesis.<br />
      4c. while identifying an alternative side as a counterclaim and logically
      refute it.<br />
      5c. I can add to my analysis by synthesizing outside resources (text to
      text OR text to world) by comparing/contrasting the ideas by
      <q>rolling in</q>
      pieces of evidence and somewhat enforces thesis.
    </td>
    <td>
      1. Has a clear thesis<br />
      2. Has clear claims in the thesis and bodies<br />
      3d. I can analyze and synthesize evidence (connect them together to
      explain a new idea) while making a direct connection &nbsp;<strong
        >by making inferences***</strong
      >
      to the paper’s thesis.<br />
      4d. while identifying an alternative side as a counterclaim, logically
      refute it, and connect it back to the thesis to reinforce it.<br />
      5d. I can add to my analysis by synthesizing outside resources
      comparing/contrasting the ideas by <q>rolling in</q> pieces of evidence
      and Combine the different ideas from the evidence to make a new idea that
      supports your thesis.
    </td>
  </tr>

  <tr>
    <th colspan="4" class="text-center h4 green">
      <strong>Mastery Skill:</strong>&nbsp;Rhetorical Appeals
    </th>
  </tr>
  <tr>
    <th>Novice</th>
    <th>Apprentice</th>
    <th>Practitioner</th>
    <th>Professional</th>
  </tr>
  <tr>
    <td>
      One or more of the rhetorical appeals is missing from your work or you
      have misidentified one or more rhetorical appeals. I can demonstrate some
      awareness of rhetorical situations of purpose and context, but doesn't
      clearly address a specific audience.
    </td>
    <td>
      I can include and identify Logos, Pathos, and Ethos in my arguments to
      make a more compelling argument, but might they not be fully effective or
      properly identified. I can demonstrates basic awareness of the rhetorical
      situation (audience, purpose and context).
    </td>
    <td>
      I can include and identify Logos, Pathos, and Ethos in my arguments to
      make a more compelling argument I can demonstrate thorough awareness of
      the rhetorical situation (audience, purpose and context).
    </td>
    <td>
      I can include and identify Logos, Pathos, and Ethos in my arguments to
      make a more compelling argument. I can demonstrate sophisticated awareness
      of the rhetorical situation (audience, purpose and context). I can write a
      metacognitive reflection on the impact of the argument on the audience.
    </td>
  </tr>

  <tr>
    <th colspan="4" class="text-center h4 green">
      <strong>MS R3:</strong>&nbsp;Synthesis
    </th>
  </tr>
  <tr>
    <th>Novice</th>
    <th>Apprentice</th>
    <th>Practitioner</th>
    <th>Professional</th>
  </tr>
  <tr>
    <td>
      You summarized the texts without directly connecting them and still need
      to compare/contrast details from each. You have quotes but they are not
      integrated, meaning they are just plopped into your paragraph as its own
      sentence.
      <ul>
        <li>Use says/states/etc&hellip;</li>
        <li>Colon</li>
        <li><q>Roll in</q> quotes</li>
      </ul>

      <strong>Next steps to receive Apprentice:</strong>
      <ul>
        <li>
          Compare and contrast by explaining how they are similar or different,
          and connect that to your thesis on happiness.
        </li>
        <li>Add quote integration strategies to your evidence.</li>
      </ul>
    </td>
    <td>
      You compared/contrasted your different sources with description, but you
      still need to break down the evidence you found into its relevant parts to
      back up your observations.

      <strong>You have either&hellip;</strong>
      <ul>
        <li>
          Integrated all your quotes adequately with says, states, etc&hellip;
        </li>
        <li>Inconsistently integrated all quotes</li>
      </ul>

      <strong>Next steps to Practitioner:</strong>
      <ul>
        <li>
          You need to focus in on specific parts of your evidence from each
          source to analyze and explain how your different sources connect
        </li>
        <li>
          You can increase the variety of quote integration strategy (colons and
          “rolling in”), and/or revise mistakes made in your current ones.
        </li>
      </ul>
    </td>
    <td>
      You analyzed specific ideas presented in each source by analyzing its
      parts (good job!) and you explained how they are connected, but you can
      still come up with a new idea or explain how those ideas fit together and
      back up your thesis. You consistently integrate quotes with a variety of
      strategies but mostly say, states, etc&hellip; and colons - with some
      <q>rolling in</q> of quotes. 1-2 mistakes permitted.
    </td>
    <td>
      Combine the different ideas from the evidence for each source and
      explain/infer the trends that the evidence together suggests or how the
      evidence together has implications that they don’t independently of one
      another..
      <q>Roll in</q> more of your evidence into your analysis to more directly
      connect the ideas from the different pieces of evidence.
    </td>
  </tr>
</table>

<footer class="footer page-footer font-small green">
  <div class="footer-copyright text-center py-3">
    &copy; 2020 Copyright:&nbsp;<a href="#">Lemuel De Los Santos</a>
  </div>
</footer>
{% endblock %}
