@import "_vars";

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

html,
body {
  color: $color;
  // background: $background;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-padding: 1rem;
  // scroll-snap-align: start;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #3335;

  &:hover {
    background: #333;
  }
}

canvas,
#globe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: -1;
  user-select: none;
  margin: 0 auto;
  position: fixed;
  text-align: center;
}
#globe img {
  width: 100vh;
  height: 75vh;
  transition: all 5s;
  user-select: none;
  margin: 5% auto;
}
.particles-js-canvas-el {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  user-select: none;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  z-index: -9999;
  background-color: #000; // #17182f
  // background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.top-panel {
  &::before {
    content: "╲╱";
    color: #fff;
    position: absolute;
    opacity: 0.8;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    width: 3rem;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    bottom: -3rem;
    margin-left: -1.5rem;
    left: 50%;
    animation: bounce 1s ease infinite;
  }
}

.section {
  width: 100%;
  margin: 0;
  height: 100vh;
  display: block;
  padding: 14px 16px;
  background-color: black;
}

.header,
.footer {
  background: #000e;
}

#textSwapper {
  color: $primary;
  display: inline-block;
}

#main-container {
  margin: 10px auto;
}

.card {
  transition: all 1s;
  background: #333a;
  padding: 20px;
  // background-color: black;
  margin: 5px 0;
  //  height: 80vh;
  scroll-snap-align: start;

  &:target {
    background: #333e;
    box-shadow: -1px 2px 2px black;
  }
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}

p {
  display: inline-block;
  font-size: 20px;
}

.siteTop {
  display: flex;
  padding-bottom: 10px;
  background-color: black;
  margin-bottom: 25px;
  color: $primary;
}
.siteTopHeader {
  h1 {
    margin: 0;
    font-weight: bolder;
    // color: $primary;
  }
}
.siteTopNav {
  li {
    display: inline;
    vertical-align: middle;
    text-decoration: none;
    margin: 20px;
    font-size: 150%;

    a {
      text-decoration: inherit;

      // &:hover {
      //   color: $primary !important;
      // }
    }
  }
}

.btn {
  width: 100%;
  background-color: $primary;
  color: white;
}

hr {
  background-color: white;
}

.logos,
.pathos,
.ethos {
  transition: 0.3s;

  &::before,
  &::after {
    content: "\00a0";
    background-color: transparent !important;
  }
}

.logos {
  .active,
  &:hover {
    background-color: $logos;
  }
}
.pathos {
  .active,
  &:hover {
    background-color: $pathos;
  }
}
.ethos {
  .active,
  &:hover {
    background-color: $ethos;
  }
}

table {
  display: block;
  margin: 5% auto;
  width: 75% !important;

  th {
    &.h4 {
      scroll-snap-align: start;
    }
  }

  tbody tr td {
    width: 25%;
  }

  &.black {
    background: #333333aa !important;
  }
}

#intro-header {
  scroll-snap-align: start;
}
#intro-welcome {
  width: 60%;
}

.globe-space {
  height: 90vh;
  display: block;
  scroll-snap-align: start;
}

#globe-space {
  display: none;
  // height: 100vh;
}

#dogecoin {
  right: 5px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  transition: all 3s;

  &.active {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  #globe img {
    width: 80%;
  }
}
